webService/bibliothequeWS/bibliothequeWS-DTO/src/main/resources/biblioWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				  xmlns:ybs="http://yogj.fr/biblioWS/" name="biblioWS" targetNamespace="http://yogj.fr/biblioWS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://yogj.fr/biblioWS/" xmlns:Q1="http://www.yogj.fr/biblioWS/types">
            <xsd:import schemaLocation="types.xsd" namespace="http://www.yogj.fr/biblioWS/types"></xsd:import>
            <xsd:element name="login">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="pseudo" type="xsd:string" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loginResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="utilisateur" type="Q1:UtilisateurType" minOccurs="1" maxOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loginFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="idUtilisateur" type="xsd:int" minOccurs="1"></xsd:element>
      				<xsd:element name="pseudo" type="xsd:string" minOccurs="1"></xsd:element>
      			</xsd:choice>      			
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deconnexion">
      	<xsd:complexType>
      		<xsd:sequence>
                  <xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
            </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deconnexionResponse" type="xsd:string">
      </xsd:element>
      <xsd:element name="deconnexionFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
      				<xsd:element name="pseudo" type="xsd:string" minOccurs="1"></xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="listNouveautes" type="xsd:string">
      </xsd:element>
      <xsd:element name="listNouveautesResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="nouveautes" type="Q1:LivreType" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="rechercheOuvrage">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="titre" type="xsd:string" minOccurs="0"></xsd:element>
      				<xsd:element name="genre" type="xsd:string" minOccurs="0"></xsd:element>
      				<xsd:element name="auteurNom" type="xsd:string" minOccurs="0"></xsd:element>
      				<xsd:element name="idLivre" type="xsd:int" minOccurs="0" maxOccurs="1"></xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="rechercheOuvrageResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="ouvrages" type="Q1:LivreType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="detailsOuvrageFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
      				<xsd:element name="titre" type="xsd:string" minOccurs="1"></xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <!--  <xsd:element name="recherche">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="rechercheResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>-->
      <xsd:element name="empruntOuvrage">
      	<xsd:complexType>
      		<xsd:sequence>
                  <xsd:element name="idLivre" type="xsd:int" minOccurs="1"></xsd:element>
                  <xsd:element name="idEmprunteur" type="xsd:int" minOccurs="1"></xsd:element>
            </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="empruntOuvrageResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="livre" type="Q1:LivreEmpruntType" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="empruntOuvrageFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
      				<xsd:element name="titre" type="xsd:string" minOccurs="1"></xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="retourOuvrage">
      	<xsd:complexType>
      		<xsd:sequence>
                 <xsd:element name="idLivreEmprunt" type="xsd:int" minOccurs="1"></xsd:element>
            </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="retourOuvrageResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="livre" type="Q1:LivreType" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="retourOuvrageFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
      				<xsd:element name="titre" type="xsd:string" minOccurs="1"></xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="retourOuvrageFault1">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
      				<xsd:element name="dateEmprunt" type="xsd:date" minOccurs="1"></xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="prolongationOuvrage">
      	<xsd:complexType>
      		<xsd:sequence>
                 <xsd:element name="idEmprunt" type="xsd:int" minOccurs="1"></xsd:element>
            </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="prolongationOuvrageResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="emprunt" type="Q1:LivreEmpruntType" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="prolongationOuvrageFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
      				<xsd:element name="titre" type="xsd:string" minOccurs="1"></xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="prolongationOuvrageFault1">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:choice>
      				<xsd:element name="id" type="xsd:int" minOccurs="1"></xsd:element>
      				<xsd:element name="dateEmprunt" type="xsd:date" minOccurs="1"></xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="listRetardataires" type="xsd:string">
      </xsd:element>
      <xsd:element name="listRetardatairesResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="utilisateur" type="Q1:UtilisateurType" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      			<xsd:element name="coordonnee" type="Q1:CoordonneeUtilisateurType" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <!--  <xsd:element name="uneOperation">
      	<xsd:complexType>
      		<xsd:sequence>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="uneOperationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>-->
      <xsd:element name="obtenirEmpruntUtilisateur">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="idUtilisateur" type="xsd:int" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenirEmpruntUtilisateurResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="livreEmprunt" type="Q1:LivreEmpruntType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenirEmpruntUtilisateurFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="idUtilisateur" type="xsd:int" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenirReservationUtilisateur">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idUtilisateur" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenirReservationUtilisateurResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="reservations" type="Q1:ReservationType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenirReservationUtilisateurFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idUtilisateur"
      				type="xsd:int" minOccurs="1" maxOccurs="1">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenirEmpruntLivre">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idLivre" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenirEmpruntLivreResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="livreEmprunt" type="Q1:LivreEmpruntType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenirEmpruntLivreFault1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:choice>
      				<xsd:element name="idEmprunt" type="xsd:int" minOccurs="1" maxOccurs="1">
      				</xsd:element>
      				<xsd:element name="dateEmprunt"
      					type="xsd:date" minOccurs="1" maxOccurs="1">
      				</xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="annulerReservation">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idReservation" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="annulerReservationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="livre" type="Q1:LivreType" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="annulerReservationFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idReservation"
      				type="xsd:int" minOccurs="0" maxOccurs="1">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="reserverOuvrage">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idLivre" type="xsd:int"
      				minOccurs="1" maxOccurs="1">
      			</xsd:element>
      			<xsd:element name="idUtilisateur" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="reserverOuvrageResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="livreReserve" type="Q1:ReservationType" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="reserverOuvrageFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:choice>
      				<xsd:element name="idLivre" type="xsd:int"
      					minOccurs="1" maxOccurs="1">
      				</xsd:element>
      				<xsd:element name="titre"
      					type="Q1:LivreType" minOccurs="1" maxOccurs="1">
      				</xsd:element>
      			</xsd:choice>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="listeAlerteRetour" type="xsd:string">
      </xsd:element>
      <xsd:element name="listeAlerteRetourResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="livre" type="Q1:LivreType" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      			<xsd:sequence>
      				<xsd:element name="utilisateur"
      					type="Q1:UtilisateurType" minOccurs="1" maxOccurs="unbounded">
      				</xsd:element>
      				<xsd:element name="coordonnee"
      					type="Q1:CoordonneeUtilisateurType" minOccurs="1" maxOccurs="unbounded">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenirReservationOuvrage">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="idLivre" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenirReservationOuvrageResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ReservationType" type="Q1:ReservationType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loginRequest">
    <wsdl:part element="ybs:login" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="ybs:loginResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="loginFault">
  	<wsdl:part name="parameters" element="ybs:loginFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deconnexionRequest">
  	<wsdl:part name="parameters" element="ybs:deconnexion"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deconnexionResponse">
  	<wsdl:part name="parameters" element="ybs:deconnexionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deconnexionFault">
  	<wsdl:part name="parameters" element="ybs:deconnexionFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="listNouveautesRequest">
  	<wsdl:part name="parameters" element="ybs:listNouveautes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="listNouveautesResponse">
  	<wsdl:part name="parameters" element="ybs:listNouveautesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="rechercheOuvrageRequest">
  	<wsdl:part name="parameters" element="ybs:rechercheOuvrage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="rechercheOuvrageResponse">
  	<wsdl:part name="parameters" element="ybs:rechercheOuvrageResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="detailsOuvrageFault">
  	<wsdl:part name="parameters" element="ybs:detailsOuvrageFault"></wsdl:part>
  </wsdl:message>
  <!--  <wsdl:message name="rechercheRequest">
  	<wsdl:part name="parameters" element="ybs:recherche"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="rechercheResponse">
  	<wsdl:part name="parameters" element="ybs:rechercheResponse"></wsdl:part>
  </wsdl:message>-->
  <wsdl:message name="empruntOuvrageRequest">
  	<wsdl:part name="parameters" element="ybs:empruntOuvrage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="empruntOuvrageResponse">
  	<wsdl:part name="parameters" element="ybs:empruntOuvrageResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="empruntOuvrageFault">
  	<wsdl:part name="parameters" element="ybs:empruntOuvrageFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retourOuvrageRequest">
  	<wsdl:part name="parameters" element="ybs:retourOuvrage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retourOuvrageResponse">
  	<wsdl:part name="parameters" element="ybs:retourOuvrageResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retourOuvrageFault">
  	<wsdl:part name="parameters" element="ybs:retourOuvrageFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retourOuvrageFault1">
  	<wsdl:part name="parameters" element="ybs:retourOuvrageFault1"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="prolongationOuvrageRequest">
  	<wsdl:part name="parameters" element="ybs:prolongationOuvrage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="prolongationOuvrageResponse">
  	<wsdl:part name="parameters" element="ybs:prolongationOuvrageResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="prolongationOuvrageFault">
  	<wsdl:part name="parameters" element="ybs:prolongationOuvrageFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="prolongationOuvrageFault1">
  	<wsdl:part name="parameters" element="ybs:prolongationOuvrageFault1"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="listRetardatairesRequest">
  	<wsdl:part name="parameters" element="ybs:listRetardataires"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="listRetardatairesResponse">
  	<wsdl:part name="parameters" element="ybs:listRetardatairesResponse"></wsdl:part>
  </wsdl:message>
  <!--  <wsdl:message name="uneOperationRequest">
  	<wsdl:part name="parameters" element="ybs:uneOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="uneOperationResponse">
  	<wsdl:part name="parameters" element="ybs:uneOperationResponse"></wsdl:part>
  </wsdl:message>-->
  <wsdl:message name="obtenirEmpruntUtilisateurRequest">
  	<wsdl:part name="parameters" element="ybs:obtenirEmpruntUtilisateur"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenirEmpruntUtilisateurResponse">
  	<wsdl:part name="parameters" element="ybs:obtenirEmpruntUtilisateurResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenirEmpruntUtilisateurFault">
  	<wsdl:part name="parameters" element="ybs:obtenirEmpruntUtilisateurFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirReservationUtilisateurRequest">
  	<wsdl:part name="parameters" element="ybs:ObtenirReservationUtilisateur"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirReservationUtilisateurResponse">
  	<wsdl:part name="parameters" element="ybs:ObtenirReservationUtilisateurResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirReservationUtilisateurFault">
  	<wsdl:part name="parameters" element="ybs:ObtenirReservationUtilisateurFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirEmpruntLivreRequest">
  	<wsdl:part name="parameters" element="ybs:ObtenirEmpruntLivre"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirEmpruntLivreResponse">
  	<wsdl:part name="parameters" element="ybs:ObtenirEmpruntLivreResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirEmpruntLivreFault">
  	<wsdl:part name="parameters" element="ybs:ObtenirEmpruntLivreFault1"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="annulerReservationRequest">
  	<wsdl:part name="parameters" element="ybs:annulerReservation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="annulerReservationResponse">
  	<wsdl:part name="parameters" element="ybs:annulerReservationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="annulerReservationFault">
  	<wsdl:part name="parameters" element="ybs:annulerReservationFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserverOuvrageRequest">
  	<wsdl:part name="parameters" element="ybs:reserverOuvrage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserverOuvrageResponse">
  	<wsdl:part name="parameters" element="ybs:reserverOuvrageResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserverOuvrageFault">
  	<wsdl:part name="parameters" element="ybs:reserverOuvrageFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="listeAlerteRetourRequest">
  	<wsdl:part name="parameters" element="ybs:listeAlerteRetour"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="listeAlerteRetourResponse">
  	<wsdl:part name="parameters" element="ybs:listeAlerteRetourResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirReservationOuvrageRequest">
  	<wsdl:part name="parameters" element="ybs:ObtenirReservationOuvrage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirReservationOuvrageResponse">
  	<wsdl:part name="parameters" element="ybs:ObtenirReservationOuvrageResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="biblioWS">
    <wsdl:operation name="login">
      <wsdl:input message="ybs:loginRequest"/>
      <wsdl:output message="ybs:loginResponse"/>
            <wsdl:fault name="UtilisateurNotFoundFault" message="ybs:loginFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="deconnexion">
    	<wsdl:input message="ybs:deconnexionRequest"></wsdl:input>
    	<wsdl:output message="ybs:deconnexionResponse"></wsdl:output>
            <wsdl:fault name="UtilisateurNotFoundFault" message="ybs:deconnexionFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="listNouveautes">
    	<wsdl:input message="ybs:listNouveautesRequest"></wsdl:input>
    	<wsdl:output message="ybs:listNouveautesResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rechercheOuvrage">
    	<wsdl:input message="ybs:rechercheOuvrageRequest"></wsdl:input>
    	<wsdl:output message="ybs:rechercheOuvrageResponse"></wsdl:output>
            <wsdl:fault name="LivreNotFoundFault" message="ybs:detailsOuvrageFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="empruntOuvrage">
    	<wsdl:input message="ybs:empruntOuvrageRequest"></wsdl:input>
    	<wsdl:output message="ybs:empruntOuvrageResponse"></wsdl:output>
            <wsdl:fault name="LivreNotFoundFault" message="ybs:empruntOuvrageFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="retourOuvrage">
    	<wsdl:input message="ybs:retourOuvrageRequest"></wsdl:input>
    	<wsdl:output message="ybs:retourOuvrageResponse"></wsdl:output>
            <wsdl:fault name="EmpruntLivreNotFoundFault" message="ybs:retourOuvrageFault1"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="prolongationOuvrage">
    	<wsdl:input message="ybs:prolongationOuvrageRequest"></wsdl:input>
    	<wsdl:output message="ybs:prolongationOuvrageResponse"></wsdl:output>
            <wsdl:fault name="EmpruntLivreNotFoundFault" message="ybs:prolongationOuvrageFault1"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="listRetardataires">
    	<wsdl:input message="ybs:listRetardatairesRequest"></wsdl:input>
    	<wsdl:output message="ybs:listRetardatairesResponse"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="obtenirEmpruntUtilisateur">
    	<wsdl:input message="ybs:obtenirEmpruntUtilisateurRequest"></wsdl:input>
    	<wsdl:output message="ybs:obtenirEmpruntUtilisateurResponse"></wsdl:output>
            <wsdl:fault name="UtilisateurNotFoundFault" message="ybs:obtenirEmpruntUtilisateurFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ObtenirReservationUtilisateur">
    	<wsdl:input message="ybs:ObtenirReservationUtilisateurRequest"></wsdl:input>
    	<wsdl:output message="ybs:ObtenirReservationUtilisateurResponse"></wsdl:output>
            <wsdl:fault name="UtilisateurNotFoundfault" message="ybs:ObtenirReservationUtilisateurFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ObtenirEmpruntLivre">
    	<wsdl:input message="ybs:ObtenirEmpruntLivreRequest"></wsdl:input>
    	<wsdl:output message="ybs:ObtenirEmpruntLivreResponse"></wsdl:output>
            <wsdl:fault name="EmpruntLivreNotFoundFault" message="ybs:ObtenirEmpruntLivreFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="annulerReservation">
    	<wsdl:input message="ybs:annulerReservationRequest"></wsdl:input>
    	<wsdl:output message="ybs:annulerReservationResponse"></wsdl:output>
            <wsdl:fault name="ReservationNotFoundFault" message="ybs:annulerReservationFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="reserverOuvrage">
    	<wsdl:input message="ybs:reserverOuvrageRequest"></wsdl:input>
    	<wsdl:output message="ybs:reserverOuvrageResponse"></wsdl:output>
            <wsdl:fault name="LivreNotFoundFault" message="ybs:reserverOuvrageFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="listeAlerteRetour">
    	<wsdl:input message="ybs:listeAlerteRetourRequest"></wsdl:input>
    	<wsdl:output message="ybs:listeAlerteRetourResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenirReservationOuvrage">
    	<wsdl:input message="ybs:ObtenirReservationOuvrageRequest"></wsdl:input>
    	<wsdl:output message="ybs:ObtenirReservationOuvrageResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="biblioWSSOAP" type="ybs:biblioWS">
  	<!--  <wsp:PolicyReference URI="#BindingPolicy" />-->
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="login">
  		<soap:operation soapAction=""/> 
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="deconnexion">
  		<soap:operation soapAction=""/> 
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="UtilisateurNotFoundFault">
  			<soap:fault use="literal" name="UtilisateurNotFoundFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="listNouveautes">
  		<soap:operation soapAction=""/> 
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="rechercheOuvrage">
  		<soap:operation soapAction=""/> 
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="LivreNotFoundFault">
  			<soap:fault use="literal" name="LivreNotFoundFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="empruntOuvrage">
  		<soap:operation soapAction=""/> 
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="LivreNotFoundFault">
  			<soap:fault use="literal" name="LivreNotFoundFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="retourOuvrage">
  		<soap:operation soapAction=""/> 
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="EmpruntLivreNotFoundFault">
  			<soap:fault use="literal" name="EmpruntLivreNotFoundFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="prolongationOuvrage">
  		<soap:operation soapAction=""/> 
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="EmpruntLivreNotFoundFault">
  			<soap:fault use="literal" name="EmpruntLivreNotFoundFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="listRetardataires">
  		<soap:operation soapAction=""/> 
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="obtenirEmpruntUtilisateur">
  		<soap:operation soapAction=""/>
  		<wsdl:input>
  			<!--  <wsp:PolicyReference URI="#InputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<!--  <wsp:PolicyReference URI="#OutputBindingPolicy"/>-->
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="UtilisateurNotFoundFault">
  			<soap:fault use="literal" name="UtilisateurNotFoundFault" />
  		</wsdl:fault>
  	</wsdl:operation>  	
  </wsdl:binding>
  <wsdl:service name="biblioWS">
    <wsdl:port binding="ybs:biblioWSSOAP" name="biblioWSSOAP">
      <soap:address location="http://localhost:8181/biblioWS/biblioWS"/>
    </wsdl:port>
  </wsdl:service>
  
	<!--  <wsp:Policy wsu:Id="BindingPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:AsymmetricBinding>
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
									<wsp:Policy>
										<sp:WssX509V3Token11 />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>
						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
									<wsp:Policy>
										<sp:WssX509V3Token11 />
										<sp:RequireIssuerSerialReference />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
						<sp:OnlySignEntireHeadersAndBody />
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:EncryptSignature />
					</wsp:Policy>
				</sp:AsymmetricBinding>
				<sp:Wss11>
					<wsp:Policy>
						<sp:MustSupportRefIssuerSerial />
					</wsp:Policy>
				</sp:Wss11>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="InputBindingPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:EncryptedParts>
					<sp:Body />
				</sp:EncryptedParts>
				<sp:SignedParts>
					<sp:Body />
					<sp:Header Namespace="http://yogj.fr/biblioWS/"/>
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OutputBindingPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:EncryptedParts>
					<sp:Body />
				</sp:EncryptedParts>
				<sp:SignedParts>
					<sp:Body />
					<sp:Header Namespace="http://yogj.fr/biblioWS/"/>
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>-->  
</wsdl:definitions>
